/*sets the css for the base of the app*/
.root {
    -fx-background-image: url('Background.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 750 440;
    -fx-background-position: center center;
}

.button{
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
    -fx-border-color: #c30e2e;
}